
* { margin:0; padding:0; box-sizing:border-box; font-family:sans-serif; }
a { text-decoration:none; }
html, body {
	width: 100%;
	height: 100%;
}
body {
	width: 800px;
	margin: auto;
	background-color: #f2f2f2;
}
#logo {
	padding-top: 0.7em;
	padding-bottom: 0.3em;
}
#main {
	border: 1px solid #d4d4d4;
	background-color: white;
	min-height: 300px;
	padding-top: 1em;
	padding-bottom: 1em;
}



/*
 * Layout
 */

.row {
	padding-left: 19px;
}
.column, .columns {
	position: relative;
	margin-right: 19px;
	float: left;
}
.column .row { padding:0; }
.row .column { margin-top: 0.5em; }
.col6 { width:calc(50% - 19px); }
.col4 { width:calc(33.33% - 19px); }

.right { float:right; }
.left { float:left; }



/*
 * Rendered list of user's JSON data.
 */

ul.json-list {
	list-style-type: decimal;
}
.json-list li {
	position: relative;
	padding: 0.5em;

	border-color: #d4d4d4;
	border-bottom-style: dashed;
	border-bottom-width: 1px;

	background-image: url(/images/list-bg.jpg);
	background-image-position: top left;
	background-repeat: no-repeat;
	background-size: 35px 100%;
}
.json-list li:first-child {
	border-top: solid 1px #aaa;
}
.json-list li:last-child {
	border-bottom: solid 1px #aaa;
}

.json-list li .copy {
	position: relative;
	display: block;
	max-width: 75%;
	left: 2em;
	word-wrap: break-word;
	color: #ec6c27;
}
.json-list li .copy:before {
	content: '';
}

.delete-btn {
	position: absolute;
	right: 0em;
	top: 0.5em;
	color: #4199d3;
}
.delete-btn:hover {
	color: #005daa;
}



/*
 * General inputs styling
 */

.btn {
	display: inline-block;
	background: #7eb64f;
	background-image: -webkit-linear-gradient(top, #7eb64f, #3c6127);
	background-image: -moz-linear-gradient(top, #7eb64f, #3c6127);
	background-image: -ms-linear-gradient(top, #7eb64f, #3c6127);
	background-image: -o-linear-gradient(top, #7eb64f, #3c6127);
	background-image: linear-gradient(to bottom, #7eb64f, #3c6127);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 14px;
	padding: 5px 13px 6px 13px;
	text-decoration: none;
}

.btn:hover {
	background: #76ab4a;
	text-decoration: none;
}



/*
 * Input form area
 */

.input-form {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(230,230,230,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=1 );
}
.input-form .row {
	margin-top: 1em;
}
.input-form .row:first-child {
	margin-top: 0;
}
.input-form label {
	display: inline-block;
	width: 25%;
}
#new-item-input {
	display: inline-block;
	width: 47%;
	padding: 0.2em;
}
.user-input {
	font-size: 1em;
	border-radius: 5px;
	border-color: #d6d6d6;
	border-style: solid;
	border-width: 2px;
}
.input-form label {
	text-align: right;
}
#reload {
	margin-left: 7em;
}
#add {
	float: right;
	margin-right: 1.5em;
}

/*
 * Expanding text area
 */

.expanding-area {
	position: relative;
	background: #fff;
	width: 68%;
	max-width: 68%;
}
#json-viewer {
	display: inline-block;
	vertical-align: top;
}
.expanding-area > textarea,
.expanding-area > pre {
	margin: 0;
	outline: 0;
	border: 0;

	padding: 5px;
	background: transparent;
	font: 400 13px/16px helvetica, arial, sans-serif;
	/* Make the text soft-wrap */
	white-space: pre-wrap;
	word-wrap: break-word;
}
.expanding-area > textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100px;
}
.expanding-area.active > textarea {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	resize: none;
}
.expanding-area > pre {
	display: none;
}
.expanding-area.active > pre {
	display: block;
	visibility: hidden;
}


/*
I assume that including the modern clearfix solution is permissible for this test.
*/


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
